@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400..800&family=Barriecito&family=Bebas+Neue&family=Knewave&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Over+the+Rainbow&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    margin: 0;
    padding: 0;

}

.container {
    min-height: 100vh;

    background-repeat: repeat;
    background-image: url(snake2.jpg);
    background-size: 100vw 100vh;
    display: flex;

}

#board {
    background: linear-gradient(rgba(120, 200, 120, 0.35),
            rgba(70, 160, 90, 0.35));
    backdrop-filter: blur(14px);
    border: 2px solid rgba(180, 255, 180, 0.45);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.35);
    height: 90vmin;
    width: 90vmin;
    margin-top: 5vh;
    margin-left: 63vh;
    display: grid;
    grid-template-rows: repeat(20, 1fr);
    grid-template-columns: repeat(20, 1fr);
    background-repeat: no-repeat;
}

.snake {
    background: linear-gradient(yellow, brown);
    border: 1px solid rgb(8, 8, 8);
    border-radius: 12px;
}

.head {
    background: linear-gradient(rgb(5, 5, 94), rgb(101, 138, 207));
    border: 2px solid rgb(10, 10, 10);
    border-radius: 10px;
    transform: scale(1.02);
}

.food {
    border-radius: 15px;
    background: linear-gradient(red, yellow);
    border: 3px solid brown;

}

#scoreBox {
    position: absolute;
    top: 9px;
    right: 30px;
    font-family: "Barriecito", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 50px;
    color:rgb(228, 248, 76) ;
    background-color: rgb(202, 22, 22);
}
#highscorebox{
     position: absolute;
    top: 9px;
    left:10px;
    font-family: "Barriecito", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 50px;
    color:rgb(228, 248, 76) ;
    background-color: rgb(202, 22, 22);
}